
<ul class="navbar-nav flex-grow-1">
	<div>
		<a class="btn dropdown-toggle" href="#" role="button"
		   id="dropdownMenuLink" data-bs-toggle="dropdown" area-expanded="false">All</a>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<li>
				<a class="dropdown-item nav-link text-dark"
				   asp-area="" asp-controller="House" asp-action="All">All Houses</a>
			</li>
			<li>
				<a class="dropdown-item nav-link text-dark"
				   asp-area="Admin" asp-controller="Rents" asp-action="Index">All Rents</a>
			</li>
			<li>
				<a class="dropdown-item nav-link text-dark"
				   asp-area="Admin" asp-controller="Users" asp-action="Index">All Users</a>
			</li>
		</ul>
	</div>
</ul>
	