*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 2em;
  max-width: 40vw;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
}

h1{
  padding-right: 0.5em;
}

.corpus{
  display: flex;
  gap: 0.5em;
}

header{
  display: flex;
  flex-wrap: wrap;
}

.header-nav ul{
  display: flex;
  gap: 0.5em;
}

@media (max-width:500px){
  .corpus{
    flex-direction: column;
  }

  header, 
  .header-nav ul{
    flex-direction: column;
  }
}

header,
aside,
main,
footer{
  border-radius: 3px;
  background-color: rgb(181, 216, 255);
  padding: 5px 10px;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}

a{
  display: block;
  padding: 5px 0px;
  color: rgb(86, 40, 129);
  text-decoration: none;
}

main,
aside{
  flex-grow: 1;
}