@{
	ViewBag["Title"] = "For Review";
}

<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">For Review</h5>
		<p class="card-text">Review houses</p>
		<a href="#" class="btn btn-primary">Go</a>
	</div>
</div>
