html{
    font: 1.5 Helvetica, sans-serif;
}
h2{
    font: 1.2 Georgia, serif;
}
section{
    margin: 3em auto;
    display: flex;
    gap: 4em;
    justify-content: space-between;
    max-width: 70vw;
}