* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.2 Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  max-width: 50%;
  margin: 1em auto;
}

h2 {
  padding: 2em 0 0.8em 0;
}

h3 {
  font-weight: 300;
  padding-bottom: 0.5em;
}

section,
footer {
  color: #515151;
}

.cards-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  background-color: white;
  border: 1px solid rgb(220, 219, 219);
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.flex .card{
  width: 200px;
}

.flex .card-text-container{
  flex-grow: 1;
}

.masonry-container .card{
  margin-bottom: 2em;
}

.masonry-container{
  width: 200px;
}

.card img {
  width: 100%;
  height: auto;
}

 .card-text-container {
  padding: 2em 1em;
  border-bottom: 1px solid rgb(220, 219, 219); 
}

.card-footer{
  padding: 1em;
  flex-grow: 0;
}
